.lesson {
  background-color: purple;
}
.section2 {
  background-color: blue;
  color: orange;
}
.section4 {
  background-color: black;
  color: white;
}
.title1 {
  color: yellow;
}
.title {
  color: orange;
}
#portfolio {
  color: yellow;
}
